.sorting tr:not(.home) {
    cursor: pointer;
}

.ui-state-hightlight {
    border: 1px dashed rgb(0, 0, 0);
}

.table {
    margin-left: 5em;
    width: 90% !important;
}
.btn {
    margin-left: 5em;
}
.page-title {
    margin-left: 7rem;
}

